<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Board Game</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <h2>Snake and ladder</h2>
    <div class="out" ></div>
    <div class="mn" id="out"></div>
    <div id="side">
    <button class="btn" id="Play" onclick="play()">New game</button><br>
    <center><button id="dice" onclick="random()"></button></center></div>
    <div id="question-dialog" class="dialog">
        <div class="dialog-content">
            <span class="close" onclick="closeDialog()">&times;</span>
            <p id="question"></p>
            <input type="text" id="answer" placeholder="Your answer">
            <button onclick="submitAnswer()">Submit</button>
        </div>
    </div>
    <div id="congrats-dialog" class="dialog">
        <div class="dialog-content">
            <span class="close" onclick="closeCongrats()">&times;</span>
            <p>Congratulations!</p>
            <img src="https://img.freepik.com/free-vector/hand-drawn-congratulations-lettering_23-2149418512.jpg" alt="Congratulations">
        </div>
    </div>
    
    <script src="/static/script.js"></script>
</body>
</html>
