<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="/static/css/login.css">
</head>
<body>
    <div class="container">
        <!-- Login Form -->
        <h2>Login</h2>
        <form action="#" method="post">
            <div class="form-group">
                <label for="loginEmail">Email</label>
                <input type="email" id="loginEmail" name="loginEmail" required>
            </div>
            <div class="form-group">
                <label for="loginPassword">Password</label>
                <input type="password" id="loginPassword" name="loginPassword" required>
            </div>
            <button type="submit" class="btn">Log In</button>
            <div class="link">
                <span>Don't have an account?</span> <a href="signup">Register here</a>
            </div>
        </form>
    </div>
</body>
</html>
